.main {
  width: 320px;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 20px;
  box-sizing: border-box;
}

.main .logo {
  width: 65px;
  height: 65px;
  margin: 0 auto 20px;
}

.main .site {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

.main .logo img {
  width: 100%;
  height: 100%;
}

.main .gray-text {
  font-size: 12px;
  text-align: center;
  color: #bebebe;
  line-height: 1.5;
  margin-bottom: 15px;
}

.main .red-text {
  font-size: 12px;
  text-align: center;
  color: #f00;
  line-height: 1.5;
  margin-bottom: 15px;
}

.qr-code-container {
  padding: 20px;
  width: 90%;
  margin: 0 auto 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.qr-code-container h2 {
  font-size: 20px;
  text-align: center;
  color: #333;
  margin: 20px;
}

.qr-code-container h2 small {
  color: #bebebe;
  font-size: 80%;
  padding-left: 5px;
}

.address-text {
  font-size: 12px;
  text-align: center;
  color: #888;
  margin-bottom: 20px;
}

.qr-code {
  width: 220px;
  height: 220px;
  border: 1px solid #f2f2f2;
  margin: 20px auto;
  padding: 10px;
  box-sizing: border-box;
}

.qr-code>img {
  width: 100%;
  height: 100%;
  display: block;
}

.timer {
  width: 140px;
  margin: 0 auto;
  font-size: 14px;
}

.timer .label {
  display: flex;
  align-items: center;
}

.timer .label,
.timer .value {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.timer .label span {
  color: #999;
}

.timer .value span {
  color: #333;
  font-size: 16px;
}

.timer .label span,
.timer .value span {
  flex: 1;
  text-align: center;
}
#copy-amount {
  font-size: 35px;
  padding:10px 0 !important;
  display:block
}
.bubble-box {
    position: relative;border: 1px solid orange;border-radius: 3px;
    font-size:12px;line-height:25px;padding:0 5px;height:25px;
}
.bubble-box::before,.bubble-box::after{
    content: " ";
    position: absolute;
}
.bubble-box::before{
    border: 6px solid transparent;
}
.bubble-box::after{
    border: 5px solid transparent;
}
.bubble-box.arrow-left::before {
    right: 100%;
    top: 50%;
    margin: -5px 0 0;
    border-right-color: orange;
}
.bubble-box.arrow-left::after {
    right: 100%;
    top: 50%;
    margin-top: -4px;
    border-right-color: #fff;
}
.bubble-box.arrow-down::before {
    top: 100%;
    left: 50%;
    border-top-color: orange;
}
.bubble-box.arrow-down::after {
    top: 100%;
    left: 50%;
    margin-left: 1px;
    border-top-color: #fff;
}
.amount-tips{
    position:absolute;margin-top:-15px;margin-left:-12px;
    color: #f00;font-size: 12px;
}